# https://circleci.com/orbs/registry/orb/circleci/aws-ecr
version: 2.1

orbs:
  aws-cli: circleci/aws-cli@0.1.13

jobs:
  aws-cli:
    executor: aws-cli/default
    steps:
       - checkout
       - aws-cli/install
       - aws-cli/configure:
           profile-name: default
           aws-access-key-id: AWS_ACCESS_KEY_ID
           aws-secret-access-key: AWS_SECRET_ACCESS_KEY
           aws-region: AWS_DEFAULT_REGION
  deploy-test:
    machine: true
    #working_directory: ~/app
    steps:
      - checkout
      - run:
          name: Deploying cloudformation template
          command: |
            #eb deploy customer-accounts-management-api-test -l $CIRCLE_BUILD_NUM
            aws cloudformation deploy --template-file template.yml --stack-name test-stack-abc983838 --region $AWS_DEFAULT_REGION

workflows:
   aws cli configure:
    jobs:
      - aws-cli
   cf deploy:   
    jobs:  
      - deploy-test:
          requires:
            - aws-cli
     
                            
          
